<h1> New Peep </h1>

<form action = '/peeps' method = 'POST'>
<label for ="name">
Body:
<input type = "text" name = "body" required />
</label>
<label for ="name">
Title:
<input type = "text" name = "title" required />
</label>
<input type = "submit" value = 'Submit Peep'>
</form>
